.u-palette-1-base,
.u-body.u-palette-1-base,
.u-container-style.u-palette-1-base:before,
.u-table-alt-palette-1-base tr:nth-child(even) {
    background-color: #fff;
    color: #3e4a59 !important;
}

.u-text-body-alt-color,
a.u-button-style.u-text-body-alt-color,
a.u-button-style.u-text-body-alt-color[class*="u-border-"] {
    color: #3e4a59 !important;
}

.footer-address {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-address .u-icon {
    height: 22px;
    width: 22px;
    /* margin: 0 auto 0 0; */
    display: block;
    line-height: 0;
    border-width: 0px;
}

.footer-address h3 {
    color: #fff !important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    /* margin: -22px 0 0 40px; */
}

.footer-address p {
    color: #fff !important;
    width: fit-content;
    margin: 0 auto;
}

.footer-address p span {
    display: block;
    text-align: start;
    font-size: 0.8rem;
}

.u-header>div {
    padding: 12px 0;
}

.contact h2 {
    color: #555d66;
}
.contact p{
    color: #555d66;
}.contact label{
    color: #555d66;
}

.form-check-input:checked{
    background-color: #BF3B3A;
    border-color: #BF3B3A;
}

.form-check-input:focus {
  
    box-shadow: unset;
}

.u-form h2{
    margin: 0 !important;
    margin-bottom: 20px  !important;
}

.vorbestellung   .u-image-1{
    background-image: url('../img/vorbestellung.jpeg');
}

.u-header{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.cnt-block{
    float: left;
    width: 100%;
    background: #fff;
    padding: 30px 20px;
    text-align: center;
    border: 2px solid #d5d5d5;
    margin: 0 0 28px;
}

.cnt-block figure {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 15px;
}
 .cnt-block img {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    object-fit: contain;
}
 .cnt-block h3 {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-transform: uppercase;
}
 .cnt-block p {
    color: #2a2a2a;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

 .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}

.u-section-1{
    background-image: url('../img/cover.jpg');
    background-position: 50% 0;
}